<div ng-controller="QuestionListCtrl">
<div>
<ul class="list-group">
    <li ng-repeat="question in questions | orderByPriority" class="list-group-item">
        <div>
            <h4>{{question.question}}</h4>
            <div><input type="radio" name="{{question.$id}}-answer" value="1"/> {{question.option1}}</div>
            <div><input type="radio" name="{{question.$id}}-anwser" value="2"/> {{question.option2}}</div>
            <div><input type="radio" name="{{question.$id}}-anwser" value="3"/> {{question.option3}}</div>
        </div>
    </li>
</ul>
</div>
</div>