<div>
    <form class="form-horizontal" role="search" ng-submit="persistQuestion(question)">
        <div class="form-group">
            <label class="control-label">Question:</label>
            <input type="text" class="form-control" ng-model="question.question">
        </div>
        <div class="form-group">
            <label class="control-label">Anwser Option 1:</label>
            <input type="text" class="form-control" ng-model="question.option1">
            <label class="control-label">Anwser Option 2:</label>
            <input type="text" class="form-control" ng-model="question.option2">
            <label class="control-label">Anwser Option 3:</label>
            <input type="text" class="form-control" ng-model="question.option3">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-star"></span> Save Question
            </button>
        </div>
    </form>
    <a href="#/questions" class="pull-right">Back to all questions</a>
</div>